*.svg
logs/Node_*
*.pdf
*.dat

*.class
*/target

.settings
.project
.classpath
.vscode
csvs
result.log
paths

logs
tmp1
tmp2
run_neo4j_main.sh
cal_update_rate.py
graph_analyzer
generated_data/rand_gen_ref.py
generated_data/rand_gen_use.py
gen_lb_cdf.py
clean_load_output.sh
